.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20;
  text-align: center;
  color: black;
  margin-top: auto;
}

p {
  font-family: 'Times New Roman', Times, serif;
  margin: 40px;
}

body {
  min-height:100%;
  text-align: center;
  background-color: darkblue;
  color: antiquewhite;
  margin: 0;
  padding: 0;
  border: 5px solid cornflowerblue;
}

.hbox {
  color: black;
  background-color: skyblue;
  align-content: center;
  width: 50%;
  border: 2px solid;
  border-color: black;
  padding: 1px;
  margin: auto;
}

.box {
  color: black;
  background-color: azure;
  align-content: center;
  width: 90%;
  border: 10px solid;
  border-color: beige;
  padding: 10px;
  margin: auto;
}

footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1px;
}

#schools {
  display: flex;
}
#games {
  display: flex;
}
#names {
  text-align: left;
  width: 40%;
  height: 100%;
  padding: 8px;
  font-size: xx-large;
}
#logos {
object-fit: cover;
width: 80%;
height: 20%;
margin: 10px;
}

#covers {
  object-fit: cover;
  width: 80%;
  height: 20%;
  margin: 10px;
}